@model FinalCapstone.Models.TeamMember

@{
    ViewBag.Title = "Index";
}
    <div class="jumbotron" style="background-image: url(../../streetlifeboots2.jpg); object-fit: fill; background-size: cover; background-position:center; height: 200px">
        <p class="lead" style="font-size: 75px; text-shadow: -4px 4px 5px #000000;
">My Profile</p>
    </div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
       
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Email)
        </td>
        
        <td>
            <div class="btn btn-default">
                @Html.ActionLink("Details", "Details", new { id = Model.TeammemberId })
            </div>
        </td>
    </tr>

</table>
