@model FinalCapstone.Models.Meeting

@{
    ViewBag.Title = "Details";
}
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h2>Find my Events:</h2>
    <div id="map"></div>
    <script>
        function initMap() {
            var venLocation = { lat: @Model.Latitude, lng: @Model.Longitude };

            var map = new google.maps.Map(document.getElementById('map'), { zoom: 12, center: venLocation });

            var marker = new google.maps.Marker({ position: venLocation, map: map });

    var infoWindow = new google.maps.InforWindow({
        content: (".details")
    });

    marker.addListener('click', function () {
        infoWindow.open(map, marker);
        });
    }

    </script>
    <script src="@Model.APICall" async defer></script>
</body>
</html>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p class="btn btn-default">
    @Html.ActionLink("Directions", "Directions", new { id = Model.TeamId })
</p>
<p class="btn btn-default">
    @Html.ActionLink("Edit", "Edit", new { id = Model.MeetingId })
</p>
<p class="btn btn-default">
    @Html.ActionLink("Back to List", "Index", "Meetings", new { id = Model.TeamId }, null)
</p>
